#footer{
    padding: 60px 0;
}

.footer-content{
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.footer-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    padding: 0 90px;
}

.footer-logo img{
    max-width: 180px;
    width: 100%;
}

.footer-social{
    justify-items: left;
}
.footer-social a{
    color: #ffda00;
}

.footer-social a + a{
    margin-left: 25px;
}

.footer-credits{
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
}
