/* ----------- form contato ----------- */

.email{
	background-color: #401410;
	height: 30px;
    max-width: 100%;
	margin-bottom: 20px;
	font-size: 16px;
	border-radius: 10px;
	padding: 0 25px 0 25px;	
    text-transform: uppercase;	
    border: 2px solid #D9A86C;
}

.msg{
	background-color: #401410;
	min-height: 10px;
	max-height: 160px;
	min-width: 100%;
	max-width: 100%;
	font-size: 16px;
	border-radius: 10px;
	padding: 15px 0 0 20px;
	margin-bottom: 25px;
	text-transform: uppercase;	
    resize: none;
    border: 2px solid #D9A86C;
}

.botao{
    border-radius: 10px;
    background-color: #401410;
    height: 30px;
    color: #D9A86C;
    width: 140px;
    border: 2px solid #D9A86C;
    transition: transform 600ms;
} .botao:hover{
    transform: scale(1.1);
}