@import "./header.css";
@import "./about.css";
@import "./experience.css";

@font-face {
    font-family: 'Josefin Sans';
    src: url('../font/JosefinSans.ttf') format('truetype');
  }

body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0C63EE;
    color: #fff;
}

.yellow{
    color: #FFDA00;
}