@import "./header.css";
@import "./about.css";
@import "./experience.css";
@import "./graduation.css";
@import "./languages.css";
@import "./portfolio.css";
@import "./footer.css";

@font-face {
    font-family: 'Josefin Sans';
    src: url('../font/JosefinSans.ttf') format('truetype');
  }

body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0C63EE;
    color: #fff;
}

.yellow{
    color: #FFDA00;
}

/* Global media queries */

/* Medium devices (tablets, 788px and up) */
/* @media (min-width: 788px){ 
    
} */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) and (max-width: 787px){ 
   
} */

/* Super small devicess :D */
/* @media  (max-width: 575px){ 

} */