body {
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    background: #590407;
    padding: 50px 0;
} header li+li{
    margin-left: 20px;
}

section{
    padding: 50px 0;
} section.b, footer{
    background: #d9bfb0;
}

button.white{
    color: #590407;
    background: #fff;
    border: none;
    padding: 10px;
    margin-top: 1em;
    text-transform: uppercase;
    transition: color 1000ms;
    transition: background 1000ms;
    width: 232px;
} button.white:hover{
    color: #fff;
    background: #590407;
} button.darkred{
    color: #fff;
    background: #590407;
    border: none;
    padding: 10px 0;
    margin-top: 1em;
    text-transform: uppercase;
    transition: color 1000ms;
    transition: background 1000ms;
    width: 232px;
} button.darkred:hover{
    color: #590407;
    background: #fff;
} button.darkred.btn-bigger{
    width: 320px;
    max-width: 100%;
}

.container-min{
    width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;max-width:720px;text-align:justify;
}

input.email{
    border-radius: 20px;
    margin-bottom: 15px;
    height: 3em;
} textarea.msg{
    border-radius: 20px;
    height: 7em;
    resize: none;
} input.email:focus, textarea.msg:focus{
    box-shadow: 0 0 1em #d9bfb0;
    border: none;
}

input.email-2{
    border-radius: 20px;
    margin-bottom: 15px;
    height: 3em;
    background: #d9bfb0;
    color: #590407;
} textarea.msg-2{
    border-radius: 20px;
    height: 7em;
    resize: none;
    background: #d9bfb0;
    color: #590407;
} input.email-2:focus, textarea.msg-2:focus, input.email-2::placeholder, textarea.msg-2::placeholder{
    box-shadow: 0 0 1em #d9bfb0;
    color: #590407;
    background: #d9bfb0;
    border: none;
}

button.whats{
    width: 100%;
    height: 3em;
    background: #fff;
    color: #590407;
    border: none;
    border-radius: 20px;
    transition: backgound 1000ms;
} button.whats:hover{
    background: #F8F9FA;
} button.whats2{
    width: 100%;
    height: 3em;
    background: #d9bfb0;
    color: #590407;
    border: none;
    border-radius: 20px;
    transition: opacity 1000ms;
} button.whats2:hover{
    opacity: 0.8;
}

