header img{
    max-width: 40%;
}

img.about-me{
    max-width: 350px;
    width: 100%;
}

img.nb{
    max-width: 400px;
    width: 100%;
}

img.ebook{
    max-width: 100%;
}

img.ebook-title{
    height: 68px;
    max-width: 100%;
}

img.services{
    height: 50px;
    max-width: 100%;
}

img.contact{
    height: 41px;
    max-width: 100%;
}

img.frase{
    width: 100%;
}