
/* ========================= layout ======================== */

/* começar com body, pra fazer modificações lineares */
html, body, .capa{
	height: 100%;
}

@font-face{
	font-family: barlowLight;
	src: url('../fonts/barlowLight.ttf');
}

@font-face{
	font-family: barlowSemiBold;
	src: url('../fonts/barlowSemiBold.ttf');
}

@font-face{
	font-family: barlowBlack;
	src: url('../fonts/barlowBlack.ttf');
}

@font-face{
	font-family: barlowSemiBoldItalic;
	src: url('../fonts/barlowSemiBoldItalic.ttf');
} 

@font-face{
	font-family: barlowBold;
	src: url('../fonts/barlowBold.ttf');
} 

body{
	/* fazer uma composição de 3 backgrounds
	/* background: url('imagens/capa.png'), 
				url('imagens/1.png'),
				rgba(0, 0, 0, 0.6);deixar letra minuscula */
	/*background-attachment: fixed; /*mater a imagem de fundo fixa*/
	font-family: barlowLight, sans-serif;
	background-image: url('../images/bg.png');	
	background-size: cover;
	background-attachment: fixed;
}

/* ========================= divisões ======================== */

.container{
	text-align: center;	
}

.price{
	border: 3px solid #2C2C30;
	padding: 15px 0 25px 0;
	border-radius: 20px;
	margin: 45px 0 35px 0;
}

.promisse{
	padding: 30px 0;
}

.icons{
	padding: 35px 0;
}

.info{
	padding: 45px 0;
}

#section-2, #section-4{
	margin-top: 80px;
}

.align{
	padding-top: 35px;	
	padding-bottom: 35px;
}

.feedback-clients{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 45px;
	gap: 20px;
}

.feedback{
	border-radius: 10px;
	border: 2px solid #2C2C30;
	padding: 10px 15px;
	background: #c7c7d6;
	font-family: barlowSemiBold, sans-serif;
}

.security{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 45px;
	gap: 60px;
}


#section-6{
	background-color: #2C2C30;
	padding: 80px 0;
	margin-top: 100px;
}



/* ========================= textos ======================== */

h2 {
	font-size: 3em;
	line-height: 0.5em;
}

h3{
	font-size: 2.4em;
}

h5 span{
	font-size: 2em;
}

.bold{
	font-family: barlowSemiBold,sans-serif;
}

.bolder{
	font-family: barlowBlack, sans-serif;
} h2{
	font-family: barlowSemiBold, sans-serif;
}

p{	
	color: #2C2C30;
}

/* ========================= imagens ======================== */

img.text-info{
	max-width: 100%;
}

a img.text-info{
	transition: transform 500ms ease-in;
}

a img.text-info:hover{
	transform: scale(1.05);
}

.logo{
	margin: 65px 0;
	text-align: center;
} .logo img{
	max-height: 60px;
}

.icon{
	max-width: 100%;
	margin-bottom: 20px;
	transition: transform 300ms ease-in;
} .icon:hover{
	transform: scale(1.05);
}

.box img, img.selo{
	max-width: 100%;
	width: 150px;
}


.security img{
	max-width: 100%;
}

.faixa img{
	filter: brightness(0) invert(1);
	max-width: 100px;
}


/* ========================= Slider ======================== */

.slider{
	width:100%;
	text-align: center;
	align-items: center;
	padding:-100px;
	color:white;
	overflow: hidden;
	padding: 10px;
}

.slider .slide img{
	transform: scale(0.8) ;
	transition: 0.3s ;
	padding: 0 -200px;
	float: center;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	outline: none !important;
	opacity: 0.8;
	border-radius: 5px;
}

.slider .slick-center img{
	transform: scale(1) ;
	transition: 0.3s ;
	align-items: center;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	outline: none !important;
	opacity: 1;
}

.slider2{
	width:100%;
	text-align: center;
	align-items: center;
	padding:-100px;
	color:white;
	overflow: hidden;
	padding: 10px;
	margin: 60px 0;
}

.slider2 .slide img{
	transform: scale(0.8) ;
	transition: 0.3s ;
	padding: 0 -200px;
	float: center;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	outline: none !important;
	opacity: 0.8;
	border-radius: 5px;
}

.slider2 .slick-center img{
	transform: scale(1) ;
	transition: 0.3s ;
	align-items: center;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	outline: none !important;
	opacity: 1;
}

.slider3{
	width:100%;
	text-align: center;
	align-items: center;
	padding:-100px;
	color:white;
	overflow: hidden;
	padding: 10px;
	margin: 60px 0;
}

.slider3 .slide img{
	transform: scale(0.8) ;
	transition: 0.3s ;
	padding: 0 -200px;
	float: center;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	outline: none !important;
	opacity: 0.8;
	border-radius: 5px;
}

.slider3 .slick-center img{
	transform: scale(1) ;
	transition: 0.3s ;
	align-items: center;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	outline: none !important;
	opacity: 1;
}

/* ========================= Slider ======================== */


footer{
	margin-top: 40px;
	color: #2C2C30;
	font-family: barlowLight, sans-serif;
	text-transform: uppercase;
	font-size: 1.4em;
	padding-bottom: 30px;
} footer a{
	color: #2C2C30;
	font-family: barlowSemiBold,sans-serif;
	transition: color 200ms ease-in;
} footer a:hover{
	color: #b61717;
	text-decoration: none;
}

/* ----------- FAQ aria ----------- */

.btn-link:hover,.btn-link:focus, .btn-link:visited{
    text-decoration: none;
    color: #fff;
} 

.pergunta-header{
    background: transparent;
    padding: 10px 20px;	
    border: 3px solid #2C2C30;
    border-radius: 10px ;
	margin-bottom: 20px;
}

.pergunta-header button{
    color: #2C2C30;
}

.pergunta-body{
    color: #fff;
    margin-top: 20px;
	margin-bottom: 20px;
}

.pergunta-body a{
    text-decoration: none;
    color: #fff;
}

.pergunta-body a:hover{
    text-decoration: none;
}

.faq-answers{
	margin-top: 50px;
}

.texto{
	font-size: 1.6em;
	color: #2C2C30;
}

/* ========================= fonte smartphones ======================== */

@media only screen and (max-width: 767px){
	h3{
		font-size: 2em;
	}
}


