/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .feedback-clients{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 45px;
        gap: 20px;
    }

    h2 {
        font-size: 3em;
        line-height: 0.5em;
    }
    
    h3{
        font-size: 2.4em;
    }
    
    h5 span{
        font-size: 2em;
    }

    .promisse{
        padding: 30px 0;
    }

    .info{
        padding: 45px 0;
    }

    .icons{
        padding: 35px 0;
    }

    .box img {
        width: 140px;
        margin-right: 40px;
        margin-top: 20px;
    }
    
    img.selo{
        width: 100px;
        margin-top: -20px;
    }
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px){ 
    .feedback-clients{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 45px;
        gap: 20px;
    }

    h2 {
        font-size: 3em;
        line-height: 0.5em;
    }
    
    h3{
        font-size: 2.4em;
    }
    
    h5 span{
        font-size: 2em;
    }

    .promisse{
        padding: 30px 0;
    }

    .info{
        padding: 45px 0;
    }

    .icons{
        padding: 35px 0;
    }

    .box img {
        width: 140px;
        margin-right: 40px;
        margin-top: 20px;
    }

    img.selo{
        width: 100px;
        margin-top: -20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){ 
    .feedback-clients{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 45px;
        gap: 20px;
    }

    h2 {
        font-size: 3em;
        line-height: 0.5em;
    }
    
    h3{
        font-size: 2.4em;
    }
    
    h5 span{
        font-size: 2em;
    }

    .promisse{
        padding: 30px 0;
    }

    .info{
        padding: 45px 0;
    }

    .icons{
        padding: 35px 0;
    }

    .box img {
        width: 140px;
        margin-right: 40px;
        margin-top: 20px;
    }

    img.selo{
        width: 100px;
        margin-top: -20px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px){ 
    .feedback-clients{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 45px;
        gap: 20px;
    }

    h2 {
        font-size: 2.4em;
        line-height: 0.5em;
    }
    
    h3{
        font-size: 2.2em;
    }
    
    h5 span{
        font-size: 1.8em;
    }

    .promisse{
        padding: 30px 0;
    }

    .info{
        padding: 45px 20px;
    }

    .icons{
        padding: 35px 20px;
    }

    .box img {
        width: 140px;
        margin-right: 40px;
        margin-top: 20px;
    }

    img.selo{
        width: 100px;
        margin-top: -20px;
    }
}

@media  (max-width: 575px){ 
    .feedback-clients{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 45px;
        gap: 20px;
    }

    h2 {
        font-size: 1.8em;
        line-height: 0.5em;
    }
    
    h3{
        font-size: 1.8em;
    }
    
    h5 span{
        font-size: 1.6em;
    }

    .promisse{
        padding: 10px 0;
    }

    .info{
        padding: 30px 20px;
    }

    .icons{
        padding: 20px 20px 0 20px;
    }

    .box img {
        width: 100px;
        margin-right: 40px;
        margin-top: 20px;
    }

    img.selo{
        width: 80px;
        margin-top: -15px;
    }
}


