header img{
    max-width: 260px;
    width: 100%;
}

#slogan{
    background-image: url('../img/slide-1.jpg');	
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-position: center;
	background-size: cover;
}

#sentence{
    background-image: url('../img/slide-2.jpg');	
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-position: center;
	background-size: cover;
}

#about-us{
    background-image: url('../img/bg_2.jpg');	
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-position: center;
	background-size: cover;
}

.booking img{
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
    transition: transform 500ms ease-in;
}

.booking img:hover{
    transform: scale(1.05);
}